/* Définit le style pour le corps de la page */
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: #0e0e0e;
}

/* Définit le style pour l'élément principal */
.main {
    flex: 1; /* Permet à l'élément de prendre tout l'espace disponible */
}