/* Style pour le conteneur principal */
.div {
    background: linear-gradient(150deg, #0e0e0e 50%, #1a73e8 100%);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 366px);
    flex-direction: column;
}

/* Style pour le lien */
.Link {
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.Link:hover {
    color: #0c47a1;
}